* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 250px 1fr;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #f8f8f8;
}

.title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 104px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #dadae6;
    cursor: pointer;
}

#sidebar {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: #ffffff;
    height: 100%;
    box-shadow: 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 10px 10px 0;
    padding-top: 20px;
}

#sidebar h1 {
    font-size: 25px;
    font-weight: 600;
    color: #091e8a;
    padding: 0 16px;
}

#sidebar-logo {
    display: flex;
    align-items: center;
    padding: 8px 16px 16px 16px;
}

#klamma {
    width: 36px;
}

.list {
    display: grid;
    align-content: start;
    padding: 0 16px
}

.list button {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.list button:hover {
    background-color: #dadae6;
    border-radius: 5px;
    color: #091e8a;
}

main {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: 'header header' 'cards cards' 'limits recent-activities' 'payments recent-activities';
}

#header {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    grid-area: header;
    gap: 24px;
    padding: 16px 16px 16px 32px;
}

#header img {
    justify-self: end;
    mix-blend-mode: multiply;
    width: 48px;
}

#cards {
    display: grid;
    grid-area: cards;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    padding: 32px;
    margin-bottom: 8px;
}

#cards img {
    justify-self: start;
    mix-blend-mode: multiply;
    width: 32px;
}

#cards .card {
    display: grid;
    padding: 16px;
    width: 48vh;
    height: 28vh;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
}

#cards .card .current-amount {
    color: black;
    font-size: 20px;
    font-weight: 200;
}

#cards .card .card-number,
.card-date {
    color: #ccc7c7;
    font-size: 15px;
    font-weight: 600;
}

#cards .card:active {
    transform: scale(1.1);
    background-image: linear-gradient(to bottom left, #BD6E7E, #ffffff, #142FBC, #0B0D30);
}

#cards .card:active .current-amount {
    color: white;
}

#limits {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: limits;
    gap: 24px;
    margin: 8px 16px 8px 32px;
    border-bottom: #ffffff 0.6px solid;
    border-top: #ffffff 0.6px solid;
}

#limits .limit {
    display: grid;
    align-items: center;
    align-content: center;
    grid-template-columns: auto 1fr;
    grid-template-areas: 'img title' 'img text';
    margin: 8px;
    gap: 8px;
}

#limits .limit img {
    grid-area: img;
    mix-blend-mode: multiply;
}

#limits .limit h4 {
    grid-area: title;
}

#limits .limit p {
    grid-area: text;
}

#int-payments {
    display: grid;
    grid-area: payments;
    gap: 24px;
    padding: 16px;
}

#int-payments .summary {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

#int-payments .payment-status {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 104px;
    padding: 8px;
}

#int-payments .counter {
    justify-self: center;
}

#recent-activities {
    display: grid;
    grid-area: recent-activities;
    gap: 24px;
    padding: 32px;
    border-top: #ffffff 0.6px solid;
    border-left: #ffffff 0.6px solid;
}

#recent-activities .activity {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 4px;
}

#recent-activities .activity .name-desc {
    display: grid;
    grid-template-rows: auto auto;
    padding: 8px;
    gap: 4px;
}